@media (min-width: 1024px){
	html, body {
		height: 100%;
	}
	body {
		background-color: navajowhite;
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: auto;
	}
	.main {
		width: 100%;
		margin: 5px;
	}
	.orange {
		width: 100%;
		height: 5%;
		display: grid;
		margin-bottom: 5px;
	}
	.green {
		width: 100%;
		height: 40%;
	}
	.blue {
		width: 100%;
		height: 20%;
		display: grid;
	}
	.grey {
		display: grid;
		margin-top: 5px;
		width: 100%;
		height: 15%;
	}
	#orange1 {
		background-color: orange;
		grid-column: 1/2;
		grid-row: 1/2;
		margin-right: 5px;
	}
	#orange2 {
		background-color: orange;
		grid-column: 2/3;
		grid-row: 1/2;
	}
	#green1 {
		background-color: green;
		height: 100%;
		margin-bottom: 5px;
	}
	#blue1 {
		background-color: blue;
		grid-column: 1/2;
		grid-row: 1/2;
		margin-right: 5px;
	}
	#blue2 {
		background-color: blue;
		grid-column: 2/3;
		grid-row: 1/2;
		margin-right: 5px;
	}
	#blue3 {
		background-color: blue;
		grid-column: 3/4;
		grid-row: 1/2;
	}
	#grey1 {
		background-color: grey;
		margin-right: 5px;
		grid-column: 1/2;
		grid-row: 1/2;
	}
	#grey2 {
		background-color: grey;
		margin-right: 5px;
		grid-column: 2/3;
		grid-row: 1/2;
	}
	#grey3 {
		background-color: grey;
		margin-right: 5px;
		grid-column: 3/4;
		grid-row: 1/2;
	}
	#grey4 {
		background-color: grey;
		grid-column: 4/5;
		grid-row: 1/2;
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	html, body {
		height: 100%;
	}
	body {
		background-color: navajowhite;
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: auto;
	}
	.main {
		width: 100%;
		margin: 5px;
	}
	.orange {
		width: 100%;
		height: 10%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 5px;

	}
	.green {
		width: 100%;
		height: 25%;
		margin-bottom: 5px;
		
	}
	.blue {
		width: 100%;
		height: 35%;
		display: flex;
		flex-wrap: wrap;
		
	}
	.grey {
		width: 100%;
		height: 30%;
		display: grid;
	}
	#orange1 {
		background-color: orange;
		width: 100%;
		margin-bottom: 5px;
	}
	#orange2 {
		background-color: orange;
		width: 100%;
		
	}
	#green1 {
		background-color: green;
		height: 100%;
		
	}
	#blue1 {
		background-color: blue;
		width: 100%;
		margin-bottom: 5px;
		
		
	}
	#blue2 {
		background-color: blue;
		width: 100%;
		margin-bottom: 5px;
		
	}
	#blue3 {
		background-color: blue;
		width: 100%;
		
	}
	#grey1 {
		background-color: grey;
		grid-column: 1/2;
		grid-row: 1/2;
		margin-bottom: 5px;
		margin-right: 5px;
	}
	#grey2 {
		background-color: grey;
		grid-column: 2/3;
		grid-row: 1/2;
		margin-bottom: 5px;
		
	}
	#grey3 {
		background-color: grey;
		grid-column: 1/2;
		grid-row: 2/3;
		margin-right: 5px;
		
	}
	#grey4 {
		background-color: grey;
		grid-column: 2/3;
		grid-row: 2/3;
	}
}
@media (min-width: 50px) and (max-width: 767px) {
	html, body {
		height: 100%;
	}

	body {
		background-color: navajowhite;
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: auto;

	}

	.main {
		width: 100%;
		height: 100%;
		margin: 5px;
	}

	.orange {
		width: 100%;
		height: 10%;
		margin-bottom: 10px;
	}

	.green {
		width: 100%;
		height: 8%;
		margin-bottom: 5px;
	}

	.blue {
		width: 100%;
		height: 40%;
		margin-bottom: 5px;
	}

	.grey {
		width: 100%;
		height: 42%;
	}

	#orange1 {
		background-color: orange;
		height: 49%;
		margin-bottom: 5px;
	}

	#orange2 {
		background-color: orange;
		height: 49%;
	}

	#green1 {
		background-color: green;
        height: 100%;
	}

	#blue1 {
		background-color: blue;
		height: 32%;
		margin-bottom: 5px;
	}

	#blue2 {
		background-color: blue;
		height: 32%;
		margin-bottom: 5px;
	}

	#blue3 {
		background-color: blue;
		height: 32%;
		margin-bottom:  5px;
	}

	#grey1 {
		background-color: grey;
		height: 23%;
		margin-bottom: 5px;
	}

	#grey2 {
		background-color: grey;
		height: 23%;
		margin-bottom: 5px;
	}

	#grey3 {
		background-color: grey;
		height: 23%;
		margin-bottom: 5px;
	}

	#grey4 {
		background-color: grey;
		height: 23%;
		margin-bottom: 5px;
	}
}
